* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.MainCont {
  width: 100%;
  height: 100vh;
  background-color: #00235b;
}

.card {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height:; */
  background-color: transparent !important;
  outline: none;
  border: none !important;
}

#screen {
  width: 350px;
  height: 90px;
  border-radius: 7px;
  background: #ccd5ae;
  color: #2d2727;
  font-weight: 600;
  font-size: 30px;
  padding: 10px 15px;
  text-align: right;
  outline: none !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#screen label {
  font-size: 18px;
  height: 20px;
}

/* 
#result:focus-visible {
  outline: none;
} */

#screen input {
  width: 100%;
  outline: none !important;
  height: 50px;
  background: none;
  border: none;
  text-align: right;
  font-weight: 500;
}

.inputButton {
  width: 100%;
  height: 70px;
  font-size: 30px !important;
  background: #343434 !important;
  color: #d6d6d6 !important;
  padding: 6px 16px;
  border-radius: 10px !important;
}

.buttons {
  background: #90caf9;
}

.inputAction {
  background-color: #1a3a47 !important;
}

.inputActionText {
  font-size: 20px !important;
}

.fixedHeight {
  width: 70px !important;
}

.equal {
  height: 155px !important;
  background-color: #00ebe7 !important;
  background: rgb(15, 191, 188) !important;
  background: linear-gradient(
    180deg,
    rgba(15, 191, 188, 1) 0%,
    rgba(2, 182, 181, 1) 35%,
    rgba(5, 113, 114, 1) 75%
  ) !important;
  color: white;
  font-weight: bold;
}

.pieIcon {
  font-size: 30px !important;
}

.devidIcon {
  font-size: 30px !important;
}

.calc_box {
  width: 100%;
  height: 100vh;
  background: #2b2a2a;
  padding-bottom: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottomTitle {
  font-size: 14px;
  position: absolute;
  bottom: 1%;
  right: 2%;
}

/* media queries */

@media only screen and (max-width: 768px) {
  .calc_box {
    width: 100%;
  }
  #result {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .calc_box {
    height: 100vh;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}
